* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}

.nav {
    height: 50px;
    background-color: #333;
    text-align: center;
    line-height: 50px;
    font-size: 0;
}

.nav-item {
    display: inline-block;
}

.nav-item a {
    padding: 0 50px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    transition: color .3s;
}

.nav-item a:hover {
    color: rgb(77, 118, 241);
}

.header-img {
    position: relative;
    height: 300px;
    background-image: url('../img/planets-g4bdfa45e1_1920.jpg');
    background-size: cover;
    background-position: 0 50%;
}

.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 1;
}

.header-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(48, 42, 88, 0.4);
}

.header-text h1 {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 35px;
    letter-spacing: 2px;
}

main {
    margin: 50px auto;
    width: 1200px;
}

main h2 {
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: center;
}

.top {
    background-image: url('../img/coffee-ge69764760_1920.jpg');
}

.middle {
    background-image: url('../img/mobile-phone-g882a690c1_1920.jpg');
}

.bottom {
    background-image: url('../img/office-g93066a482_1920.jpg');
}

.about-us-text {
position: absolute;
bottom: 20px;
padding: 20px 40px;
text-align: center;
color: #fff;
}

.about-us-bg {
    position: absolute;
    bottom: 0;
    height: 45%;
    width: 100%;
    background-color: rgba(53, 54, 68, 0.8);
}

.about-us-box {
    margin: 40px 0;
    position: relative;
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
}

.about-us-box h3 {
    margin-bottom: 10px;
    text-transform: uppercase;
}

footer {
    height: 80px;
    line-height: 80px;
    text-align: center;
    background-color: #333;
    color: #ddd;
    font-size: 20px;
}

.icon-box {
    margin-left: 20px;
}

.icon-box a {
    margin: 0 5px;
    color: #ddd;
    font-size: 30px;
    transition: color .3s;
}

.icon-box a:hover {
    color: rgb(77, 118, 241);
}